@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    scroll-behavior: smooth;
}

section {
    transition: all 300ms ease;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
    height: 100%;
    text-align: center;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: rgb(255, 248, 238);
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}


/*

NAV

*/

nav {
    height: 20vh;
    width: 100%;
    background: url("./assets/background-nav.png") center/cover no-repeat;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}

.nav__links{
    display: flex;
    width: 45%;
    max-width: 400px;
    justify-content: space-around;
}

.nav__link {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

/*

LANDING PAGE

*/

.section__title {
    font-size: 48px;
    margin-bottom: 32px;
}

.section__subtitle {
    margin-bottom: 32px;
}

.input__container {
    height: 75px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    height: 100%;
    width: 500px;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 20px;
    margin-right: 15px;
}

.input__btn {
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 24px;
    border-radius: 20px;
}

/*

Leagues

*/



/*

FOOTER

*/

footer {
    position: relative;
    background-color: black;
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    height: 70px;
    border-radius: 5px;
    color: white;
}

.footer__social--links {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: rgb(255, 248, 238);
}