@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "sans-serif";
    scroll-behavior: smooth;
}

section {
    transition: all 300ms ease;
    background-color: rgb(197, 197, 197);
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a{
    text-decoration: none;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

.container {
    padding: 50px 0;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 12px;
    height: 100%;
    text-align: center;
}

.click {
    transition: all 300ms ease;
    cursor: pointer;
}

.link__hover-effect {
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    bottom: -3px;
    height: 3px;
    width: 0;
    right: 0;
    transition: all 300ms ease;
}

.link__hover-effect--white:after{
    background-color: rgb(255, 248, 238);
}

.link__hover-effect--black:after{
    background-color: black;
}

.link__hover-effect:hover:after{
    left: 0;
    width: 100%;
}


/*

NAV

*/

nav {
    height: 20vh;
    width: 100%;
    background: url("./assets/background-nav.png") center/cover no-repeat;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
}

.nav__links{
    display: flex;
    width: 45%;
    max-width: 400px;
    justify-content: space-around;
}

.nav__link {
    color: white;
    font-size: 24px;
    font-weight: 500;
}

/*

LANDING PAGE

*/

.section__title {
    font-size: 48px;
    margin-bottom: 32px;
}

.section__subtitle {
    margin-bottom: 32px;
}

.input__container {
    height: 75px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input {
    height: 100%;
    width: 500px;
    font-size: 20px;
    padding: 0 10px;
    border-radius: 20px;
    margin-right: 15px;
}

.input__btn {
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 24px;
    border-radius: 20px;
}

.input__btn:hover{
    transform: scale(1.05);
}

.input__btn:active{
    transform: scale(.95);
}

/*

Leagues

*/
.league__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.league__top-bar {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-bottom: 25px;
}

.league__para{
    font-size: 20px;
    color: rgb(93, 93, 93);
    display: none;
}

.league__para--top-bar{
    color: rgb(93, 93, 93);
}

#filter {
    width: 150px;
}

.leagues__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.league__box {
    background-color: white;
    border: black 2px solid;
    border-radius: 20px;
    box-shadow: 0 5px 20px 0 rgb(0, 0, 0, 0.55);
    padding: 10px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    margin: 20px;
}

.league__logo {
    height: 125px;
    width: 100%;
    border-radius: 20px 20px 5px 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

.league__box:hover {
    transform: scale(1.05);
}

.league__box:active {
    transform: scale(0.95);
}

.leagues__loading {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  font-size: 60px;
}

.leagues__loading--spinner{
  display: none !important;
}

.leagues__loading .leagues__loading--spinner{
  display: block !important;
}

.fa-spinner {
  animation: rotate 600ms infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*

FOOTER

*/

footer {
    position: relative;
    background-color: black;
    display: flex;
    padding: 6% 0;
}

.footer__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    height: 70px;
    border-radius: 5px;
    color: white;
}

.footer__social--links {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    padding: 28px 0;
}

.footer__social--link,
.footer__copyright {
    color: rgb(255, 248, 238);
}